= form_for @weapon do |f|
  - if @weapon.errors.any?
    #error_explanation
      %h2= "#{pluralize(@weapon.errors.count, "error")} prohibited this weapon from being saved:"
      %ul
        - @weapon.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :attack_points
    = f.number_field :attack_points
  .actions
    = f.submit 'Save'
