%h1 Listing weapons

%table
  %thead
    %tr
      %th Name
      %th Attack points
      %th
      %th
      %th

  %tbody
    - @weapons.each do |weapon|
      %tr
        %td= weapon.name
        %td= weapon.attack_points
        %td= link_to 'Show', weapon
        %td= link_to 'Edit', edit_weapon_path(weapon)
        %td= link_to 'Destroy', weapon, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Weapon', new_weapon_path
