= form_for @character, html: { class: 'bg-slate-700 p-6 rounded shadow-md space-y-8' } do |f|
  - if @character.errors.any?
    %div{ class: 'bg-red-100 border-l-4 border-red-500 text-red-700 p-4 mb-6' }
      %h2{ class: 'font-bold mb-2' }= "#{pluralize(@character.errors.count, "error")} prohibited this character from being saved:"
      %ul
        - @character.errors.full_messages.each do |message|
          %li= message

  %div{ class: 'flex flex-col space-y-2' }
    = f.label :name, class: 'font-semibold text-gray-200'
    = f.text_field :name, class: 'border rounded px-3 py-2'

  %div{ class: 'flex flex-col space-y-2' }
    = f.label :life_points, class: 'font-semibold text-gray-200'
    = f.number_field :life_points, class: 'border rounded px-3 py-2'
    %span.text-sm.text-gray-400
      (Must be between 50 and 200)

  %div{ class: 'flex flex-col space-y-2' }
    = f.label :attack_points, class: 'font-semibold text-gray-200'
    = f.number_field :attack_points, class: 'border rounded px-3 py-2'
    %span.text-sm.text-gray-400
      (Must be between 5 and 50)

  %div{ class: 'flex items-center justify-between' }
    = link_to 'Back', characters_path, class: 'text-white'
    = f.submit 'Save', class: 'bg-gradient-to-br from-indigo-700 to-blue-600 text-white font-bold py-2 px-4 rounded'
