%p#notice= notice

%div{class:'flex space-between items-center'}
  %b Name
  = @character.name
%div{class:'flex space-between items-center'}
  %b Life points:
  = @character.life_points
%div{class:'flex space-between items-center'}
  %b Attack points:
  = @character.attack_points

= link_to 'Edit', edit_character_path(@character)
\|
= link_to 'Back', characters_path
